@keyframes flipAnimation{
    0%{
        transform: scaleX(1);
    }
    50%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

.flip{
    animation: flipAnimation 0.5s;
}

ion-footer > ion-toolbar {
    text-align: center;
}
